.box-container {
	display: flex;
    flex-direction: column;
/* 	grid-template-columns: [first] 270px [second] 30px [third] 50px [forth];
	grid-template-rows: [begin] 120px [mid] 30px [ending]; */
	margin-top: 10px;
	margin-bottom: 10px ;
	border-radius: 16px;
	border: solid 1px #e0e0e0;
}

.box-body {
    display: flex;
    flex: 0 0 120px;
}

.body-text {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
}
.box-title {
	height: 32px;
    padding-top: 12px;
    padding-left: 13px;
    padding-right: 5px;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-snippet {
	margin-top: 2px;
    height: 78px;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 5px;
    padding-bottom: 1px;
    overflow: hidden;
    font-size: 13px;
    color: #9b9b9b;
    line-height: 24px;
    letter-spacing: 1px;
}

.box-right-bar {
    display: flex;
    flex-direction: column;
    flex: 0 0 50px;
	padding-top: 15px;
	padding-right: 5px;
}

.box-weekday {
	font-size: 10px;
	text-align: center;
	color: #9b9b9b;
}

.box-date {
	margin-top: -3px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

.box-bottom-bar {
    flex: 0 0 80px;
	margin-top: -1px;
    padding-left: 13px;
    overflow: hidden;
}

.tag-mark {
    display: flex;
 	padding-right: 10px;
    height: 22px;
    border-radius: 16px;
    background-color: #e0e0e0;
    padding-left: 5px;
    margin-right: 6px;
}

.color-circle {
    position: relative;
    top: 8px;
    float: left;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.box-footer {
    display: flex;
    flex: 0 0 30px;
}

.tag1 {
	background-color: #50e3c2;
}

.tag2 {
	background-color: #ff8a5c;
}

.tag3 {
	background-color: #7978ff;
}

.box-tags {
    display: flex;
    flex: 0 0 270px;
    padding-left: 10px;
    overflow: hidden;
}
.box-tag {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 50px;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 3px;
    opacity: 0.7;
}

