
.chatContainer {
	z-index: 10;
	position: relative;
    right: 275px;
    top: 40px;
	width:300px;
	border: thin solid var(--rianColor);
	border-bottom: 20px solid var(--rianColor);
	border-radius: 10px;
}

.messageList {
	padding: 5px;
    overflow: overlay;
}
.chatBox {
}

.chatButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #00da82;
    margin-left: 180px;
}

.chatInput {
	display: flex;
	border: none;
	border-top: thin solid var(--rianColor);
	padding: 10px;
}

.textInput {
	border: none;
	flex:8;
}

.sendButton {
	border: none;
	background-color: white;
	color: var(--rianColor);
	flex:1;
}

.chatMessage {
	display: flex;
	padding: 5px;
}

.chatMessage.mine {
	flex-direction: row-reverse;
}

.chatMessagePhoto {
	display: flex;
	flex: 0 0 35px;
	margin-top: -4px;
}

.chatUserPhoto {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.chatMessageContent {
	display: flex;
	flex: 6;
	flex-direction: column;
	margin-left: 3px;
}

.chatMessageName {
	display: flex;
	flex: 0 0 20px;
	font-weight: bold;
	color: #4a4a4a;
}

.chatMessageText {
	display: flex;
	flex: 0 0 20px;
	word-break: break-all;
	color: #4a4a4a;
	margin-top: 3px;
}

.chatMessageText.mine {
	flex-direction: row-reverse;
}

.chatMessageDate {
	display: flex;
	flex: 0 0 20px;
	color: grey;
	font-size: 10px;
	color: #9b9b9b;
	margin-top: -2px;
}

.chatMessageDate.mine {
	flex-direction: row-reverse;
}