.Navigation {
  padding: 5px;
}

#nav-bar {
  display: flex;
  height: var(--headerHeight);
  width: var(--navWidth);
}

#nav-bar a {
  display:flex;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  flex: 1;
  justify-content: center;
  align-items: center;  
  color: black;
  cursor: pointer;
}
#nav-bar a.active {
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--rianColor);
  text-decoration: none;
}

#nav-bar a:hover{
  text-decoration: none;
}

#nav-bar #nav-whiteboard {
  flex:1.5;
}

.profileCard {
  display:flex;
  flex-direction: column;
}

.profileCard div {
  flex:1;
}

.addMember {
  display:flex;
  flex: 0 0 100px;
  border-radius:5px;
  justify-content: center;
  background-color: var(--rianColor);

}