.body-wrapper{

}


.body-3-calendar {
  flex: 1;
  display: flex; 
  & .left {
    flex: 0 0 var(--subWidth);
    display: flex;
    flex-direction: column;
  }
  & .middle {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  & .right {
    flex: 0 0 var(--navWidth);
    display: flex;
    flex-direction: column;  
  }
}


.body-3 {
  flex: 1;
  display: flex;
  & .left {
    flex: 0 0 var(--subWidth);
    display: flex;
    flex-direction: column;
  }
  & .middle {
    flex: 0 0 var(--navWidth);
    display: flex;
    flex-direction: column;
  }
  & .right {
    flex: 1;
    display: flex; 
    flex-direction: column; 
  }
}

.body-2 {
	display: grid; 
  grid-template-columns: [first] 0fr [second] var(--navWidth) [third] 7fr [forth] var(--subWidth) [fifth];
}
.body-1 {
	display: grid; 
  grid-template-columns: [first] 0fr [second] 0fr [third] 10fr [forth] var(--navWidth) [fifth];
}